#home{
  background-image: url('images/trees.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.7;
}
.title-part2 {
  font-size: 350%;
  border-bottom-style: solid;
  font-family: "Open Sans Condensed", sans-serif;
  margin-top: 10%;
  color: white;
  text-align: center;
}