@import url('https://fonts.googleapis.com/css');

#Aboutme{
  background-image: url('Images/about.jpg');
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
}
.blend1{
  background-image: -webkit-linear-gradient(0deg, #ff0000 0%, #ffff00 100%);
}
#blog{
  background-image: url('Images/blog.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
#three{
  background-image: url('Images/360.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
#Project{
  background-image: url('Images/northernlights.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
#Resume{
  background-image: url('Images/resume.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#Home{
  background-image: url('Images/projects.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
#ContactMe{
  background-image: url('Images/mountain_night.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.aboutme{
  background-color: #f2f2f2;
  padding: 10%;
  margin-top: 20%;
  line-height: 250%;
}
.section{
  background-color: #f2f2f2;
  padding: 10%;
  line-height: 250%;
}

.title-part{
  color: white;
  margin-top: 20%;
  text-align: center;
}
.title-part {
  font-size: 350%;
  border-bottom-style: solid;
  font-family: "Open Sans Condensed", sans-serif;
  color: white;
  text-align: center;
}
.title-part1 {
  font-size: 350%;
  border-bottom-style: solid;
  font-family: "Open Sans Condensed", sans-serif;
  margin-top: 10%;
  color: white;
  text-align: center;
}
.title-part2 {
  font-size: 350%;
  border-bottom-style: solid;
  font-family: "Open Sans Condensed", sans-serif;
  margin-top: 20%;
  color: white;
  text-align: center;
}

.card-body{
  font-family: "Raleway", sans-serif;
}
.title{
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.day30{
  color: white;
  margin-top: 20%;
  text-align: center;
  font-size: 500%;
  border-bottom-style: solid;
  font-family: "Open Sans Condensed", sans-serif;
}

.card{
  margin-top: 5%;
}
.scratch{
  margin-top: 10%;
}
/*Footer Styles*/
footer li img {
  width: 32px;
  height: 32px;
}

footer {
  font-size: 12px;
  padding: 8%;
  padding-bottom: 4%;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li{
    margin-right: 2%;
    margin-left: 2%;
}
footer{
  background-color: white;
}
.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(205, 205, 205, 0.8);
}
.card:hover .overlay{
    opacity: 1;
}
p.big {
  line-height: 1.8;
}