body { 
  text-align: center;
  background-color: hsl(50, 50%, 80%);
  position: relative;
}
.bookmark {
  position: absolute;
  top: 0;
  right: 20%;
  height: 6em;
  width: 5em;
  background-color: red;
  background-image:
    linear-gradient(
      hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 100%, 0.5) 5px,
      hsla(0, 0%, 100%, 0) 25px);
  -webkit-filter: drop-shadow(0 2px 6px hsla(0, 0%, 0%, 0.75));
  box-sizing: border-box;
  padding-top: 50px;
  color: yellow;
  font-size: 1.5em;
  text-shadow: 0 -1px 0 hsla(0, 0%, 0%, 0.5);
}
.bookmark:before,
.bookmark:after{
  content: '';
  display: block;
  position: absolute;
}
.bookmark:before {
  bottom: -50%;
  height: 100%;
  width: 100%;
  background-image:
    linear-gradient(
      -45deg,
      transparent 50%,
      red 50%),
    linear-gradient(
      45deg,
      transparent 50%,
      red 50%);
  z-index: -1;
}
.bookmark:after {
  height: 136.5%;
  width: 88%;
  left: 6%;
  top: 0;
  border-style: dashed;
  border-color: yellow;
  border-width: 0 1px;
  pointer-events: none;
}