.slider{
  width:80%;
}
h1{
  font-size:100px;
}
.center{
    text-align:center;
}
.container{
  border-left:4px black solid;
  width:80%;
}
.redBox{
  border-color:#FF5656;
}
.greenBox{
  border-color:#2C9E4B;
}
.blueBox{
  border-color:#55B3F3;
}
#colorBox{
  background-color:black;
  width:100%;
  height:400px;
  border:6px black solid;
}
.button{
  border:none;
  width:300px;
  height:90px;
  border-radius:10px;
}