:root {
	--screen-width: 600px;
	--screen-height: 400px;
}
.cursor {
	color: white;
	z-index:2;
}
.laptop {
	
	transform: scale(0.8);
}

div.body {
	padding: 5px;
	width: var(--screen-width);
	height: var(--screen-height);

	position: relative;
	top: 10px;
	background: #282828;
	border: 0px solid transparent;
	border-radius: 10px;
	box-shadow: 8px 5px 30px 3px #a9a9a9;
}

.heading {
	padding: 10px;
	color: white;
	width: 100%;
	height: 10%;
	text-align: center;
	font-size: 15px;

	background: #282828;
	border: 0px solid red;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.content {
	margin: auto;
	width: 95%;
	height: 90%;
	background: #000;

	border: 0px solid red;

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.display {
	width: 90%;
	height: 90%;
	background: black;
	background: url("https://tr1.cbsistatic.com/hub/i/r/2016/12/08/7f9849d9-1fc5-4140-8c64-3ea7ec4d28ec/resize/770x/f79124bad7ea911a942fc143610a21f9/screenshot-from-2016-12-08-143410.png");
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
	margin: auto;
	top: 5px;
	border: 0px solid red;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 2px #000 inset;
}

#videoCall{
	width:100%;
	height:100%;
	position:absolute;
	top:0;left:0;
	
	display:none;
	background:url("https://trueconf.com/images/a_videocall/1-to-1-en.png");
	
}

.fa-windows {
	color: white;
	position: relative;
	top: -20px;
	font-size: 10px;
}
.keyboard {
	
	width: 680px;
	height: 300px;
	margin: auto;
	background: #484848;
	border: 0px solid red;
	border-radius: 10px;
	/*box-shadow:0px 10px 10px -6px #808080 ;*/
	box-shadow: 0px -3px 3px 3px #282828 inset, 8px 5px 30px 3px #a9a9a9;
	transform: rotateX(20deg);
	padding: 10px;
}
.keyboard-perspective {
	perspective: 350px;
}
.buttons {
	background: ;

	height: 15%;
	width: 100%;
}
button {
	border:1px solid gray;
	border-radius:15%;
	float: left;
	width: 40px;
	height: 30px;
	background: transparent;
	color: white;
	font-size: 1.5em;
}
.keypad {
	width: 100%;
	height: 50%;
	background: url("https://www.replacementlaptopkeys.com/product_images/uploaded_images/sony-flip-13-laptop-key.jpg");
	background-size: 100% 100%;
	cursor:not-allowed;
}
.touchpad {
	cursor:pointer;
	width: 30%;
	height: 30%;
	margin: auto;
	background: #a0a0a0;
	position: relative;
	margin-top: 8px;
	border: 0px solid red;
	border-radius: 5px;
}
.key {
	width: 50%;
	height: 20%;
	position: relative;
	bottom: 0px;
	float: left;
	background: #484848;
	border: 1px solid #808080;
	border-radius: 5%;
	display: inline-block;
}
#pointer {
	width: 10px;

	position: absolute;
	animation-name: pointer-move;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;

	animation-play-state: paused;
}
@keyframes pointer-move {
	0% {
		left: 0;
		top: 0;
	}
	25% {
		left: 90%;
		top: 25%;
	}
	50% {
		left: 50%;
		top: 90%;
	}
	75% {
		left: 0;
		top: 50%;
	}
	100% {
		left: 0;
		top: 0;
	}
}
